/* Custom CSS */

/*.navbar-inverse {
    background-color: #375A7F;
    border-color: #375A7F;
}*/

body {
    /* #f3f6fc #fff aliceblue hsl(219,60,97) rgb(243,246,252) */
    /* #e4edf6 #eff lavender hsl(210,50,92) rgb(228,237,246) */
    /* #34404e #345 darkslategray hsl(212,20,25) rgb(52,64,78) */
    /* #ced8e4 #dee gainsboro hsl(212,28,85) rgb(206,216,228) */
    /* #fbfcfe #fff ghostwhite hsl(219,60,99) rgb(251,252,254) */
    background-color: #34404e;
    color: #36414c;

    height: 100%;
 }

@media(min-width:768px) {
    #page-wrapper {
        /*min-height: 1300px;*/
        border-left: 1px solid #e4edf6;
    }
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#page-wrapper {
    min-height: initial;
    padding-bottom: 60px;   /* Height of the footer */
 }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: inherit;
 }

.navbar {
    border-bottom: 1px solid #ddd;
    /*background-color: #0054a6;*/
    /*color: #fff;*/
}

.panel {
    margin: 1em 0;
}

.panel-heading {
    margin: 0;
}

.panel-default > .panel-heading, .panel-footer {
    background-color: #f3f6fc;
    border-color: #e4edf6;    
}

.panel-default {
    border-color: #e4edf6;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 0;
}

.btn.btn-primary, .btn.btn-default:not(.btn-xs, .fc-listWeek-button) {
    display: inline-block;
    border-radius: 3px;
    padding: 7px 14px;
    border: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

/* .form-control:focus {
    box-shadow: none;
    border: 1px solid #999;
} */

textarea {
    resize: vertical;
}

/* Dashboard */
.dash-btn {
    font-size: 150%;
    margin-right: .5em;
    margin-bottom: .875em;
}

.dash-dd-menu {
    margin-top: -1.25em;
    border-radius: 2px;
}

.receipt-ID {
    color: #ed1c24;
    font-size: 175%;
    font-family: 'Ubuntu mono' , 'Lucida'; /* Doc ID print (monospace) */
}

.text-red {
    color: red;
}

/* Active Nav Tab */
.nav > li > a.active, .nav > li > a:focus {
    text-decoration: none;
    color: inherit;
    background-color: #e4edf6;
}

/* table-strikethrough */
tr.strikeout td {
    position: relative;
    font-style: italic;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 46%;
    left: 0;
    border-bottom: 1px dashed #8D99A6;
    width: 100%;
}

legend {
    font-size: 16.5px;
}

textarea.form-control {
    min-height: 76px; /* 119px; */
}

a {
    color: #36414c;
    font-weight: 500;
}

a.clickable {
    font-weight: bold;
}

hr {
    margin-top: 10px;
    /* margin-bottom: 20px; */
}

ul > hr {
    margin-top: 0;
    margin-bottom: 0;
}

ul#side-menu > li {
    font-size: 16px;
}

.alert-popup {
    font-weight: 500;
    font-size: 12px;
    position: fixed;
    top: 6%;
    left: 33%;
    width: 33%;
    z-index:10;
}

.alert-popup-detail hr {
    margin-bottom: 5px;
    border: none;
}

.del-btn:hover {
    color: #f04124;
}

a.floating {
    background-color: #ed1c24;
    position: absolute;
    top: -0.75em;
    left: -0.85em;
    font-size: 10px;
    border-radius: 7px;
    z-index: 5;
}

a.floating:hover {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transform: scale(1.5);
    transition-duration: 0.3s;
    transition-property: transform;
    transform: scale(1.3);
    background-color: #ed1c24 !important;
}

table {
    border: 1px solid #d1d8dd;
}

.tab-content > .tab-pane.active > table {
    border-top: none;
}

.nav.nav-tabs > li.active > a {
    background-color: #f7fafc;
}

.table>thead>tr>th {
    /* vertical-align: bottom; */
    border-bottom: 1px solid #d1d8dd;
}
/* .list-row-head */
thead tr {
    background-color: #f7fafc;
    border-bottom: 1px solid #d1d8dd !important;
}

thead tr th {
    color: #8D99A6 !important;
    font-size: 97.5%;
    font-weight: normal;
}

tbody tr {
    /* height: 40px; */
    cursor: pointer;
}

tbody tr td {
    font-size: 97.5%;
}

a.active {
    color: #97310e;
}

.btn-default {
    background-color: #f0f4f7;
    color: #36414c;
    /* border-color: transparent; */
    border-color: #ced8e4;
}

.btn-link {
    color: #1f2933;
}

a:hover, a:focus {
    color: #337ab7;
}

/* a.btn-default:hover {
    background-color: #f0f4f7;
} */

h2, .h2 {
    font-size: 24px;
}

label {
    color: #8d99a6;
    font-weight: normal;
    font-size: 97.5%;
}

.nav>li>a {
    padding: 15px;
}

.nav>li>ul>li>a {
    padding: 15px 40px;
}

.navbar-default .navbar-brand {
    color: inherit;
    padding-left: 0;
}

.navbar-top-links > li {
    font-size: 16px;
}

/* .navbar-top-links > li:last-child {
    margin-right: 0;
} */

.text-muted {
    color: #8D99A6 !important;
}

.text-number {
    font-weight: bold;
    text-align: right;
}

.navbar-default {
    background-color: #f3f6fc;
    border-color: #e4edf6;
}

.navbar-static-side {
    background-color: #34404e;
}

#sidebar-header {
    background-color: #fbfcfe !important;
}

.navbar-static-side ul li {
    border-bottom: none;
}

#side-menu li > a {
    color: #fbfcfe !important;
}

#side-menu li > a:hover, #side-menu li > a:focus {
    color: #ced8e4 !important;
    background-color: #29333d;
}

#side-menu a.active:not(.business-logo) {
    color: inherit;
    background-color: #1f2933;
}

.fa-sm {
    font-size: 12px;
}

.small {
    color: #8D99A6 !important;
    vertical-align: middle;
}

.form-control {
    /* padding: 6px 9px; */

    border-radius: 3px;
    border: 1px solid rgba(96, 125, 159, 0.25);
    background-color: #fbfcfe;
    -webkit-box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
    box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
    background-clip: padding-box;

    font-size: 14px;
    line-height: 20px;
    color: #3f4d5a;
    min-height: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-control:focus, .select2.select2-container.select2-container--bootstrap.select2-container--focus {
    outline: none;
    border-color: rgba(96, 125, 159, 0.8);
    -webkit-box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
    box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);    
}

.form-control.datepicker {
    padding: inherit;
}

input.cb-checked {
    vertical-align: text-bottom;
    cursor: pointer;
}

.panel {
    box-shadow: none;
}

.content-pane {
    margin-bottom: 40px;

    background: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(205, 216, 228, 0.25), 0 2px 12px rgba(205, 216, 228, 0.5);
    box-shadow: 0 0 0 1px rgba(205, 216, 228, 0.25), 0 2px 12px rgba(205, 216, 228, 0.5);
    /* border-radius: 5px; */
    /* position: relative; */
    /* background-clip: padding-box; */
    /* padding: 24px; */
    /* word-wrap: break-word; */
}

.list-header {
    margin: 0;
}

.table-hover>tbody>tr:hover {
    background-color: #f7fafc;
}

/* .dash-panel {
    width: 50%;
} */

#item_summary th span {
    /* font-weight: 600; */
    font-size: 95%;
}

.select2-container--bootstrap .select2-selection--single, .select2-container--bootstrap .select2-selection--multiple {
    height: 38px;
    line-height: 20px;
    /* padding: 6px 9px; */

    border-radius: 3px;
    border: 1px solid rgba(96, 125, 159, 0.25);
    background-color: #fbfcfe;
    -webkit-box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
    box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
    background-clip: padding-box;
    font-size: 14px;
    color: #3f4d5a;
    min-height: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: #3f4d5a;
    background: #e4edf6;
    border: 1px solid rgba(96, 125, 159, 0.25);
    border-radius: 3px;
    height: 26px;
}

.well {
    /* min-height: 20px; */
    padding: 0;
    margin-bottom: 0;
    background-color: #fbfcfe;
    border: 1px solid rgba(96, 125, 159, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
    box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
}

.img-wrapper {
    height: 280px;
}

.navbar-top-links.top-menu {
    margin-left: 95px;
}

.navbar-top-links:not(.top-menu) {
    margin-right: 100px;
}

.navbar-top-links li:last-child {
    margin-right: 0;
}

#dashboard_tabs a {
    background-color: #34404e;
    color: #f0f4f7;
    border-color: #36414c;
}

#dashboard_tabs a:hover, #dashboard_tabs a:focus, #dashboard_tabs a.active {
    background-color: #29333d;
    color: #f0f4f7;
    border-color: #34404e;
}

/* .nav-tabs {
    border-bottom: none;
}

.nav.nav-tabs>li>a {
    margin-top: 10px;
    padding: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
} */

#items > tbody > tr > td > .select2-container--bootstrap .select2-selection--single, .select2-container--bootstrap .select2-selection--multiple {
    height: 30px;
}