body {
    background-color: #fbfcfe;
 }

 .login-panel {
    background: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(205, 216, 228, 0.25), 0 2px 12px rgba(205, 216, 228, 0.5);
    box-shadow: 0 0 0 1px rgba(205, 216, 228, 0.25), 0 2px 12px rgba(205, 216, 228, 0.5);
 }

.business-logo {
    margin-bottom: 40px;
}